<%= render "shared/header" %>
<div class='item-contents'>
<%if @items.length > 0%>
    <h1 class='keyword-title'>
    " <%=Category.data[params["category_id_eq"].to_i - 1][:name] %> "の出品一覧
    </h1>
    <ul class='item-lists'>

         <%@items.each do |item|%>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <%if item.purchase_record%>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%end%>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.item_name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.shipping_charge.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
          <%end%>
    </ul>
  <%else%>
    <h1 class='keyword-title'>
    " <%=Category.data[params["category_id_eq"].to_i - 1][:name] %> "の商品は出品されていません
    </h1>
    <ul class='item-lists'>
  <%end%>
  </div>
<%= render "shared/footer" %>